//* ==========================
//* mixin
//* ==========================
@mixin MOBILE {
  @media (max-width: 767px) {
    @content;
  }
}

//* ==========================
//* emphasis-color
//* ==========================
.emphasis-color1 {
  color: rgb(231, 44, 60);
}

.emphasis-color2 {
  color: #2fcfe3;
}

//* ==========================
//* input
//* ==========================
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  height: 35px;
  padding: 0 7px;
  border: 1px solid #ccc;
  font-size: 14px;
}

//* ==========================
//* textarea
//* ==========================
textarea {
  display: block;
  width: 100%;
  height: 80px;
  padding: 7px;
  border: 1px solid #ccc;
  font-size: 14px;
}

//* ==========================
//* check-box
//* ==========================
.check-box {
  display: inline-flex;
  align-items: center;

  input[type="checkbox"] {
    & + * {
      margin-left: 5px;
    }
  }

  strong {
    font-weight: 500;
  }
}

//* ==========================
//* check-box-wrap
//* ==========================
.check-box-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -10px;
  margin-left: -15px;

  .check-box {
    margin-top: 10px;
    margin-left: 15px;
  }
}

//* ==========================
//* radio-box
//* ==========================
.radio-box {
  display: inline-flex;
  align-items: center;

  input[type="radio"] {
    & + * {
      margin-left: 5px;
    }
  }
}

//* ==========================
//* radio-box-wrap
//* ==========================
.radio-box-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -10px;
  margin-left: -15px;

  .radio-box {
    margin-top: 10px;
    margin-left: 15px;
  }
}

//* ==========================
//* flex
//* ==========================
.flex {
  display: flex;
  align-items: center;
}

//* ==========================
//* h2
//* ==========================
.h2 {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 500;
  font-size: 30px;
  color: #fff;
  text-align: center;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
@include MOBILE {
  .h2 {
    font-size: 23px;
  }
}

//* ==========================
//* btn
//* ==========================
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  height: 50px;
  border: none;
  color: #fff;
  font-weight: 500;

  > * + * {
    margin-left: 3px;
  }

  &--primary {
    background-color: #2fcfe3;
  }

  &--negative {
    background-color: #888;
  }
}
@include MOBILE {
  .btn {
    padding: 0 10px;
    height: 40px;
    font-weight: 500;
  }
}

//* ==========================
//* btn
//* ==========================
.btn-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 30px;
  margin-left: -10px;

  .btn {
    margin-top: 10px;
    margin-left: 10px;
  }

  &--center {
    justify-content: center;
  }
}
@include MOBILE {
  .btn-wrap {
    margin-top: 20px;

    .btn {
      width: 100%;
    }
  }
}

//* ==========================
//* sub-visual
//* ==========================
.sub-visual {
  position: relative;
  height: 300px;
  background-image: url(../img/sub/sub-visual.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
@include MOBILE {
  .sub-visual {
    height: 150px;
  }
}

//* ==========================
//* section
//* ==========================
.section {
  & + .section {
    margin-top: 50px;
  }
}
@include MOBILE {
  .section {
    & + .section {
      margin-top: 25px;
    }
  }
}

//* ==========================
//* signin-wrap
//* ==========================
.signin-wrap {
  width: 100%;
  max-width: 400px;
  margin: 50px auto 0;

  input[type="password"] {
    margin-top: 10px;
  }

  .btn {
    width: 100%;
    margin-top: 10px;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-size: 14px;
    color: #888;

    li {
      & + li {
        &::before {
          content: "|";
          margin: 0 5px;
        }
      }
    }
  }

  .social-signin-btn {
    width: 100%;
    margin-top: 30px;
    background-color: transparent;
    border: none;

    & + .social-signin-btn {
      margin-top: 10px;
    }

    img {
      width: 100%;
    }
  }
}

//* ==========================
//* signup-wrap
//* ==========================
.signup-wrap {
  .step {
    display: flex;
    margin: 30px 0;

    > li {
      position: relative;
      width: 100%;
      padding-top: 40px;
      text-align: center;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        background-color: #ccc;
        height: 1px;
        left: -50%;
        top: 20px;
      }

      &:first-child {
        &::before {
          display: none;
        }
      }

      .num {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 50%;
        width: 41px;
        height: 41px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(-50%);
        background-color: #ccc;
      }

      .txt {
        display: block;
        margin-top: 5px;
      }

      &.path {
        &::before {
          background-color: #2fcfe3;
        }

        .num {
          border: 3px solid #2fcfe3;
          background-color: #fff;
        }
      }
    }
  }
}
@include MOBILE {
  .signup-wrap {
    .step {
      margin-top: 20px;

      > li {
        padding-top: 30px;

        &::before {
          top: 15px;
        }

        .num {
          width: 31px;
          height: 31px;
        }

        .txt {
          font-size: 14px;
        }
      }
    }
  }
}

//* ==========================
//* terms-box
//* ==========================
.terms-box {
  margin-top: 50px;
  border: 1px solid #ccc;

  .terms-head {
    padding: 15px 20px;
    display: flex;
    align-items: center;
    background-color: #f1fdff;
    border-bottom: 1px solid #ccc;

    input[type="checkbox"] {
      width: 18px;
      height: 18px;
    }

    strong {
      font-size: 18px;
    }

    span {
      white-space: nowrap;
    }
  }

  .terms-body {
    padding: 20px;
    overflow-y: scroll;
    height: 200px;
  }
}

.check-box-wrap--terms {
  margin-top: 20px;
  justify-content: center;

  input[type="checkbox"] {
    width: 18px;
    height: 18px;
  }
}
@include MOBILE {
  .terms-box {
    margin-top: 30px;

    .terms-head {
      padding: 10px;

      input[type="checkbox"] {
        width: 15px;
        height: 15px;
      }

      strong {
        font-size: 15px;
        line-height: 1.2;
      }
    }

    .terms-body {
      padding: 10px;
      height: 100px;
    }
  }

  .check-box-wrap--terms {
    margin-top: 10px;

    input[type="checkbox"] {
      width: 15px;
      height: 15px;
    }
  }
}

//* ==========================
//* authentication
//* ==========================
.authentication {
  display: flex;
  justify-content: space-between;

  > div {
    width: calc(50% - 10px);
    text-align: center;

    > a {
      display: block;
      width: 100%;
      padding: 20px 10px;
      border: 1px solid #888;

      strong {
        font-size: 20px;
        font-weight: 500;
      }

      p {
        line-height: 1.3;
        color: #666;
        font-size: 15px;
      }

      .icon {
        font-size: 50px;
        margin-top: 20px;
      }

      &:hover,
      &:focus {
        border-color: #2fcfe3;
        background-color: #f1fdff;
      }
    }

    ul {
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: center;

      li {
        font-size: 14px;

        & + li {
          margin-left: 10px;
        }

        a {
          &:hover,
          &:focus {
            text-decoration: underline;
          }
        }

        svg {
          color: #888;
        }
      }
    }
  }
}
@include MOBILE {
  .authentication {
    display: block;

    > div {
      width: 100%;

      & + div {
        margin-top: 20px;
      }

      a {
        strong {
          font-size: 16px;
        }

        p {
          font-size: 14px;

          br {
            display: none;
          }
        }

        .icon {
          font-size: 30px;
          margin-top: 10px;
        }
      }

      ul {
        margin-top: 5px;

        li {
          font-size: 13px;
        }
      }
    }
  }
}

//* ==========================
//* authentication-complete
//* signup-complete
//* ==========================
.authentication-complete,
.signup-complete {
  text-align: center;

  strong {
    font-size: 20px;
    font-weight: 500;
  }

  p {
    line-height: 1.3;
    color: #666;
    font-size: 15px;
  }

  .icon {
    font-size: 50px;
  }
}
@include MOBILE {
  .authentication-complete {
    strong {
      font-size: 16px;
    }

    p {
      font-size: 14px;
    }

    .icon {
      font-size: 30px;
    }
  }
}

//* ==========================
//* basie-table
//* ==========================
.basie-table {
  border-collapse: collapse;

  th,
  td {
    border: 1px solid #bbb;
    padding: 10px;
    vertical-align: middle;
  }

  th {
    background-color: #f1fdff;
    font-weight: 500;
  }
}
@include MOBILE {
  .basie-table {
    display: block;

    colgroup {
      display: none;
    }

    tbody,
    tr,
    th,
    td {
      display: block;
    }

    tr {
      margin-top: 15px;
    }

    th,
    td {
      border: none;
      padding: 0;
      text-align: left;
    }

    th {
      background-color: transparent;
      font-size: 15px;
    }

    td {
      margin-top: 3px;
    }
  }
}

//* ==========================
//* signup-table-wrap
//* ==========================
.signup-table-wrap {
  margin-top: 20px;

  [class*="emphasis-color"] {
    margin-top: 3px;
    font-size: 14px;
  }
}
@include MOBILE {
  .signup-table-wrap {
    margin-top: 0;
  }
}
