//* ==========================
//* mixin
//* ==========================
@mixin MOBILE {
	@media (max-width: 767px) {
		@content;
	}
}

//* ==========================
//* main-visual
//* ==========================
.main-visual {
	height: 400px;

	.inner {
		height: 100%;
	}

	.main-visual__bg {
		height: 100%;
		background-image: url(../img/main/main-visual.png);
		background-repeat: no-repeat;
		background-position: right center;
		background-size: auto 100%;
	}

	.main-visual__txt {
		display: flex;
		justify-content: center;
		flex-direction: column;
		height: 100%;
	}

	strong {
		font-size: 32px;
		font-weight: 500;
		word-break: keep-all;
		line-height: 1.2;
	}

	p {
		margin-top: 10px;
		color: #888;
		font-size: 20px;
	}

	.event-find {
		display: flex;
		margin-top: 5px;

		input[type='text'] {
			width: 100%;
			max-width: 300px;
			height: 50px;
			padding: 0 10px;
			border: 1px solid #5e67eb;
		}

		button {
			height: 100%;
			padding: 0 20px;
			border: none;
			color: #fff;
			font-size: 20px;
			background-color: #5e67eb;
		}
	}
}
@include MOBILE {
	.main-visual {
		position: relative;
		height: 350px;

		.main-visual__bg {
			background-position: right top 10px;
			background-size: 100% auto;
		}

		.main-visual__txt {
			position: absolute;
			top: 0;
			left: 0;
			justify-content: flex-end;
			width: 100%;
			padding: 30px 10px;
			background-color: rgba(0, 0, 0, .6);
		}

		strong {
			color: #fff;
			font-size: 25px;
		}

		p {
			color: #fff;
			font-size: 15px;
		}

		.event-find {
			input[type='text'] {
				height: 40px;
			}
		}
	}
}

//* ==========================
//* main-category
//* ==========================
.main-category {
	margin-top: 20px;

	ul {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin-top: 10px;
		margin-left: -5px;

		li {
			margin-top: 5px;
			margin-left: 5px;

			a {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				height: 40px;
				padding: 0 20px;
				border-radius: 20px;
				color: #fff;
				background-color: #888;
				transition: all .3s;

				&:hover {
					border-radius: 0;
					background-color: #5e67eb;
				}
			}
		}
	}
}
@include MOBILE {
	.main-category {
		ul {
			margin-top: 5px;

			li {
				margin-top: 5px;
				margin-left: 5px;

				a {
					height: 26px;
					padding: 0 10px;
					border-radius: 13px;
				}
			}
		}
	}
}

//* ==========================
//* main-preview
//* ==========================
.main-preview {
	.main-preview__li {
		overflow: hidden;
		position: relative;
		margin-top: 70px;
	}

	.heading-wrap {
		display: flex;
		align-items: center;
		padding-right: 70px;

		a {
			margin-left: auto;
		}
	}

	.swiper-container {
		position: static;
		width: 1200px;
		margin-top: 20px;

		.swiper-wrapper {
			.swiper-slide {
				a {
					.img-wrap {
						overflow: hidden;
						width: 100%;
						height: 130px;

						.img {
							width: 100%;
							height: 100%;
							background-position: center center;
							background-size: cover;
							transition: transform .2s;
						}
					}

					.txt {
						margin-top: 10px;

						> * + * {
							margin-top: 3px;
						}

						.info {
							display: flex;
							align-items: center;
							line-height: 1;

							span {
								margin-left: 5px;
								color: #5e67eb;
								font-weight: 500;
							}
						}

						.time {
							color: #5e67eb;
							font-size: 14px;
						}

						strong {
							display: block;
							font-size: 17px;
							font-weight: 500;
							word-break: keep-all;
							line-height: 1.2;
						}

						.place {
							font-size: 15px;
						}
					}

					&:hover {
						.img-wrap {
							.img {
								transform: scale(1.1);
							}
						}

						.txt {
							strong {
								text-decoration: underline;
							}
						}
					}
				}
			}
		}

		.swiper-button-prev,
		.swiper-button-next {
			display: flex;
			position: absolute;
			top: 0;
			right: 0;
			left: unset;
			align-items: center;
			justify-content: center;
			width: 30px;
			height: 30px;
			margin-top: 0;
			border: 1px solid #888;
			opacity: 1;

			&:after {
				color: #888;
				font-size: 15px;
			}
		}

		.swiper-button-prev {
			right: 30px;
		}

		.swiper-button-next {
			border-left: none;
		}
	}
}
@include MOBILE {
	.main-preview {
		.main-preview__li {
			margin-top: 50px;
		}

		.swiper-container {
			.swiper-wrapper {
				.swiper-slide {
					.txt {
						strong {
							font-size: 16px;
						}

						div {
							font-size: 14px;
						}
					}
				}
			}
		}
	}
}

//* ==========================
//* main-popup-wrap
//* ==========================
.main-popup-wrap {
	position: absolute;
	top: 100px;
	left: 50%;
	z-index: 9999;
	min-width: 240px;
	border: 1px solid #222;
	background-color: #fff;
	transform: translateX(-50%);

	img {
		max-width: calc(100vw - 40px);
	}

	&__btn {
		display: flex;
		border-top: 1px solid #222;

		button {
			width: 100%;
			height: 50px;
			border: none;
			background-color: transparent;

			& + button {
				border-left: 1px solid #222;
			}

			&:hover {
				color: #fff;
				background-color: #5e67eb;
			}
		}
	}
}
@include MOBILE {
	.main-popup-wrap {
		&__btn {
			button {
				height: 40px;
			}
		}
	}
}